.item-list {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.6rem;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
  background-color: var(--dark-black);
  height: 70vh;
}
