:root {
  --light-black: #262626;
  --dark-black: #1c1917;
  --white: #f5f5f4;
  --dark-gold: #d97706;
  --light-gold: #facc15;
  --blue: #3730a3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*Font-size => 10 */
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black);
  line-height: 1;
}

#root {
  max-width: 77.5rem;
  /* 1240px; */
  height: 100vh;
  position: relative;
  background-color: var(--light-black);
  margin: 0 auto;
}
